<footer>
    <div class="container">
        <div class="footer-left">
            <h2 class="title-26">As featured on</h2>
            <ul class="list-logo">
                <li>
                    {#<a rel="nofollow" title="autocarindia.com" target="_blank" href="https://www.autocarindia.com/">#}
                        <img src="/images/logo1.png" alt="autocarindia.com"/>
                    {#</a>#}
                </li>
                <li>
                    {#<a rel="nofollow" title="newsweek.com" target="_blank" href="https://www.newsweek.com/">#}
                        <img src="/images/logo2.png" alt="newsweek.com" />
                    {#</a>#}
                </li>
                <li>
                    {#<a href="https://cnn.com/" target="_blank" rel="nofollow" title="cnn.com">#}
                        <img src="/images/logo3.png" alt="cnn.com" />
                    {#</a>#}
                </li>

                <li class="last">
                    {#<a rel="nofollow" href="https://timesofindia.indiatimes.com/" target="_blank" title="timesofindia.indiatimes.com">#}
                        <img src="/images/logo4.png" alt="timesofindia.indiatimes.com" />
                    {#</a>#}
                </li>
                <li>
                    {#<a href="https://www.foxnews.com/" rel="nofollow" title="foxnews.com" target="_blank">#}
                        <img src="/images/logo5.png" alt="foxnews.com" />
                    {#</a>#}
                </li>
                <li>
                    {#<a href="http://www.chinadaily.com.cn/" rel="nofollow" title="chinadaily.com.cn" target="_blank">#}
                        <img src="/images/logo6.png" alt="chinadaily.com.cn" />
                    {#</a>#}
                </li>
                <li>
                    {#<a href="https://www.nytimes.com/" target="_blank" rel="nofollow" title="nytimes.com">#}
                        <img src="/images/logo7.png" alt="nytimes.com" />
                    {#</a>#}
                </li>
                <li class="last">
                    {#<a title="autobild.de" href="https://www.autobild.de/" rel="nofollow" target="_blank">#}
                        <img src="/images/logo8.png" alt="autobild.de" />
                    {#</a>#}
                </li>
            </ul>

        </div>
        <div class="footer-right">

            <ul class="menu-footer">
                <li><a href="{{ path('about') }}" title="About Us" rel="nofollow">About Us</a></li><li>|</li>
                <li><a href="{{ path('privacy_policy') }}" title="Privacy Policy" rel="nofollow">Privacy Policy</a></li><li>|</li>
                <li><a href="{{ path('contact') }}" title="Contact" rel="nofollow">Contact</a></li><li>|</li>
                <li><span>Serves 50+ million views a year</span></li>
            </ul>
            <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify', 'popupwindow', 'scrollbars=yes,width=600,height=580');return true">
                <span class="sp-18">Subscribe to our daily newsletter</span>
                <div class="control custom-input">
                    <input type="email" name="email" class="form-control" placeholder="Enter email ID here">
                    <input type="hidden" value="IndianAutosBlog" name="uri"/>
                    <input type="hidden" name="loc" value="en_US"/>
                    <button class="btn btn-subscribe" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</footer>