{% extends 'base.html.twig' %}
{% block content %}
    <section class="list-new2 pd-top-29">
        <div class="container">
            <div class="error-image">
                <img src="/images/error-image.jpg" alt="">
            </div>
            <h1>*404* - Content Not Found</h1>
            <p>Sorry, we can't find the content you're looking for at this URL.<br>
                Please navigate from the navigation menu on top or try searching below.
            </p>
        </div>
    </section>
{% endblock %}