/****************	FORM CHUNG ******************/
.control{
	width: 100%;
	position: relative;
	 margin-bottom: 10px;
}
.control i{
	cursor: pointer;	
}
.form-control{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0px 13px 0px 9px;
	border: none;
	font-family:'Montserrat';
	font-size: 14px;
	position: relative;
}
.custom-select > select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
	
}

.btn{
	border: none;
	height: 42px;
	line-height: 39px;
	padding: 0px 22px;
	font-size: 14px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}
.container{
	max-width: 1140px;
    width: 1140px;
    margin: 0 auto;
	padding: 0px 10px;
}
/***************************************************/
.left-nav{
	width: 615px;
	margin-left: 25px;
	float: left;
	z-index: 99;
   
}
.right-nav{
	width: 67px;
    float: left;
    text-align: right;
    height: 131px;
    line-height: 131px;
	
}
.right-nav i{
	margin-left: 5px;
	cursor: pointer;
}
.index99{
	z-index: 9999;
}
.nav{
	width: 100%;
	height: 131px;
	line-height: 131px;
	border-bottom: 1px solid #44424d;
	background: #151320;
	color: #fff;
	
}
.nav .logo{
	float: left;
    width: 339px;
    margin-top: 15px;
   
}
.nav .bg-logo{
	position: relative;
	height: 100%;
	float: left;
	 width: 433px;
}
/**.nav .bg-logo:after{
	background: url(../images/bg-menu.png);
	content:'';
	width: 68px;
	height: 100%;
	position: absolute;
	float: right;
	right:0;
	
}
.nav:after{
	background: #ef233c;
	    width: 20.2%;
	height: 100%;
	float: right;
	right:0;
	position:absolute;
	content:'';
}**/
.nav nav{
	float: left;
	width: 707px;
    /**background: #ef233c;**/
}

.nav{
	position: relative;
	
}

.nav nav ul li a{
	font-family:'Montserrat Bold';
	color: #fff;
	font-size: 14px;
}
.nav nav ul li.active a{
	color: #151320;
}
.nav nav ul li:hover a,  .nav .sub-menu li:hover a{
	color: #151320;
}
.nav nav ul li{
	float: left;
	margin-right: 32px;
	}
.nav nav ul li.last{
	margin-right:0px !important;
}
.nav li{
        position: relative;
    }
 .nav .sub-menu{
       /* display: none; */
		position: absolute;
		top: 85px;
		width: 210px;
		background-color: #fff;
		padding: 24px 20px 2px;
		border-top: 2px solid #e9a700;
		z-index: 2;
		-webkit-box-shadow: 0px 6px 13px -4px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 6px 13px -4px rgba(0,0,0,0.4);
		box-shadow: 0px 6px 13px -4px rgba(0,0,0,0.4);
		}
		.nav .sub-menu li{
			line-height: 22px;
			margin-bottom: 19px;
			
		}
     .nav .sub-menu li a{
		color: #222222 !important; 
		font-family:'Montserrat' !important;
	 }
    .nav li:hover>.sub-menu{
        display: block;
    }
 
    .nav>li>.sub-menu{
        top: 40px;
        left: 0;
    }
/*******drop-menu*********/
.drop-menu{
	width: 100%;
	background: #fff;
	font-size: 14px;
	position:absolute;
	margin-top: 130px;
	height: 383px;
	z-index:99;
	padding-top: 34px;
}
.drop-menu li{
	float: left;
    text-transform: none;
    width: 193px;
    margin-right: 34px;
        margin-bottom: 17px;
	color: #000000;
}
.drop-menu li a{
	color: #000000;
	font-size: 14px;
	
}


/**************top-search********/
.top-search{
	 width: 100%;
    float: left;
}
.top-search .container{
	position: relative;
}
.cus-search{
	background: #322f42;
	height: 40px;
	border: 1px solid #4f4a6c;
	width: 467px !important;
	border-radius: 4px;
	color: #fff;
	right:0;
	position: absolute;
}
.top-search .control{
	width: 165px;
}
.top-search .cus-search i{
	right:0 !important;
	opacity:1 !important;
}
.top-search .cus-search .form-control{
	padding-right: 30px;
	    display: block;
		    width: 431px;
	
}
.top-search{
	 min-width: 1170px;  
}
.top-search, .menu-search{
	background: #151320;
	color: #ffffff;
	font-size: 13px;
	height: 73px;
	line-height: 70px;
	    
}
.menu-search li:first-child{
	width: 67px;
	float: left;
	padding-left:0;
	opacity: 0.9;
}
.menu-search{
	float: left;
}
.menu-search li{
	float: left;
	padding: 0px 18px 0px 16px;
	font-family: 'Montserrat Italic';
	opacity: 0.45;
}
.top-search .control{
	float: right;
	
}
.top-search .control i{
	font-size: 22px;
	color: #fff;
	opacity: 0.45;
}
.top-search .form-control{
	background: none;
	position: relative;
	color: #ffffff;
	padding-right: 20px;
	width: 80%;
}
.top-search .control i{
	position: absolute;
    float: right;
   
    right: -7px;
	}


.top-search a{color: #ffffff;font-family: 'Montserrat Italic';}
/*********list-new-hot***********/
.list-new1, .list-new2{
	float: left;
	width: 100%;
}
.list-new2{
	padding-top: 46px;
}
.list-new2 .list-news-2{
	    margin-top: 23px;
}

.banner{
	margin: auto;
	max-width: 1920px;
	overflow: hidden;
	display: inline-block;
	    min-width: 1170px;
}

.col-30{
	width: calc(27.9% - 4px);
	float: left;
	    margin-right: 6px;
}
.col-30.last{
	margin-right:0;
}
.col-40{
	width: calc(44.2% - 4px);
	float: left;
	margin-right: 6px;
}
.col-40 .text-center{
	bottom: 33px;
    position: absolute;
    width: 100%;
}
.news-item{
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 4px;
	height: 236px;
	
}
.n-big{
	height: 476px;
}
.news-item img{
	width: 100%;
	    height: 100%;
}

.news-item .top-news-title{
	 position: absolute;
    z-index: 3;
    color: #fff;
    margin-top: -129px;
    padding-left: 12px;
    float: left;
    padding-right: 20px;
}
.h2-title{
	font-size: 18px;
	line-height: 28px;
	font-family:'Montserrat SemiBold';
}
.news-item .top-news-title a{color: #fff;}
.date{
	font-size: 14px;
	    text-align: left;
}

.div-item {
	width: 143px;
    margin: auto;
}
.div-item li{
	    height: 7px;
    width: 7px;
    border: 2px solid #848487;
    border-radius: 50%;
    float: left;
    margin-right: 17px;
    cursor: pointer;
}
.div-item li.active{
	background: #ef233c;
	border: none;
	 height: 14px;
    width: 14px;
	
}
.col-40{
	position: relative;
	text-align: center;
}
.col-40 .top-news-title{
	    margin-top: -179px;
    padding-left: 28px;
}
.col-40 .top-news-title .h2-title{
	font-size: 24px !important;
	line-height: 36px;
	    text-align: left;
}
.col-30.last{
	text-align: right;
	
}
.col-30.last .top-news-title{
	text-align: left;
}
/***************************/
.left{
	width: 878px;
	float: left;
}
.right{
	width: 262px;
	float: left;
	padding-top: 40px;
	
}
.list-car-left{
	padding-right: 30px;
}
.left .title-30{
	margin-top: 47px;
    margin-bottom: 23px;
}
/*********list-car-left*********/
.list-car-left .title-24{
	width: 100%;
}
.list-car-left .list-car-home li{
	width: 100%;
	float: left;
	overflow: hidden;
	margin-bottom: 30px;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 24px;
}
.list-car-left .list-car-home li .info-car{
	float: left;
	width: 555px;
	margin-left: 30px;
}
.info-car span, .ic-user i{
	font-size: 13px;
	color: #a6a6a6;
}
.ic-user{
	color: #ef233c !important;
}
.list-car-left .list-car-home .img-sp {
    width: 262px;
    float: left;
}
.list-car-left .list-car-home li img{
	height: auto;
	width: 100%;
	float: left;
}
.list-car-left .list-car-home .price-bottom{
	top: 133px !important;
}

.list-car-left .list-car-home .automatic .sedan{
	width: 100%;
	float: left;
    margin-bottom: 10px;
}
.list-car-left .list-car-home .name-pro{
	margin-top: -20px;
    float: left;
	margin-bottom: 10px;
	font-size: 16px;
	color: #191919;
	line-height: 24px;
	font-family:'Montserrat Bold';
	width: 100%;
}
.list-car-left .sp-18{
	    margin-top: 35px;
}
.list-new-right .title-18{
	    margin-top: 6px;
    margin-bottom: 12px;
}
.short-info{
	color: #444444;
	line-height: 22px;
	font-size: 14px;
	margin-top: 12px;
}
.list-car-right .name-pro{
	line-height: 22px;
	color: #222;
	font-family: 'Montserrat Medium';
	font-weight: 500;
	font-size: 14px;
}
.title-18{
	text-transform: uppercase;
	font-size: 18px;
	color: #1c406e;
	font-family:'Montserrat Bold';
}
.sb{
	font-family:'Montserrat SemiBold' !important;
}
.title-30{
	font-size: 30px;
	color: #ef233c;
	font-family:'Montserrat Bold';
}
.mg-9-10{
	    margin: 0px 9px 0px 11px;
}

.btn-all {
    border: 1px solid #2070d2;
    background: #fff;
    color: #2070d2;
    font-size: 14px;
    font-family: 'Montserrat SemiBold';
    width: 194px;
}
.icon-search{
	cursor: pointer;
}
/*********list-new-right**********/
.right h2.title-24{
	    margin-top: 15px;
    margin-bottom: 24px;
}
.title-24{
	font-size: 24px;
	color: #002856;
}
.list-new-right{
    float: left;
    
}
.list-car-right{
	float: left;
    padding: 9px;
    background: #f2f2f2;
	border: 1px solid #dbdbdb;
}
.list-new-right li, .list-new-right li img{
	width: 100%;
	float: left;
}
.list-new-right li{
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 20px;
    padding-bottom: 6px;
}
.list-new-right li:last-child{
	border-bottom: none;
    margin-bottom: -7px !important;
}
.list-new-right .img-sp {
    position: relative;
    display: block;
    width: 100%;
    float: left;
}
.info-car{
	float: left;
    width: 100%;
    padding-bottom: 2px;
}

/******list-news-2****/

.list-news-2 li{
	float: left;
	width: 360px;
	margin-right: 30px;
	margin-bottom: 37px;
	max-height: 370px;
	overflow: hidden;
}
.list-news-2 li.last{
	margin-right:0;
}

.list-news-2 .name-pro{
	font-size: 16px;
	color: #191919;
}
.view-all{
	font-size: 14px !important;
	color: #2070d2 !important;
    float: right;
    margin-top: 15px;
    font-family: 'Montserrat';
}
.view-all a{
	color: #2070d2 !important;
}
.list-news-2 .title-30 .view-all {
	position: relative;
}
.list-news-2 .info-car{
	margin-top: -8px;
	
}
.list-news-2 .info-car .name-pro{
	line-height: 24px;
}
/*************list-news-3**********/
.list-news-3{
	width: 100%;
	display: inline-block;
}
.new50{
	width: 555px;
	float: left;
}
.list-news-33{
	width: 555px;
	float: left;
	margin-top: 22px;
}
.list-news-33 li{
	width: 555px;
	float: left;
	margin-bottom: 20px;
	margin-right: 30px;
}
.list-news-33 li img{
	width: 165px;
	float: left;
}
.list-news-33 li .info-car{
	float: left;
	width: 372px;
	margin-left: 18px;
}
.list-news-33 li .info-car .name-pro{
	font-size: 16px;
	color: #191919;
	font-family: 'Montserrat SemiBold';
}
.list-news-33 li:nth-child(1) .info-car .name-pro{
	font-size: 20px;
	color: #191919;
	font-family: 'Montserrat Bold';
}
.list-news-33 li .info-car h3{
	margin-top:0;
}
.list-news-33 li:nth-child(1){
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 28px;
    margin-bottom: 30px;
}
.list-news-33 li:nth-child(1) img, .list-news-33 li:nth-child(1) .info-car{
	width: 555px;
	float: left;
	margin-left:0px;
	
	
}
.list-news-33 li:nth-child(1) .info-car{
	margin-top: 18px;
}
.list-new3 .view-all{
	float: left;
	    margin-top: 8px;
}
.list-news-33 li:nth-child(even) {margin-right: 0px;}

/**********video*********/
.list-new3{
	float: left;
	width: 100%;
	margin-top: 43px;
	background: #f7f7f7;
	    padding-top: 29px;
		    min-width: 1170px;
	padding-bottom: 69px;
}
.video{
	height: 580px;
	background: url(../images/bg-video.png);
	color: #fff;
	float: left;
	width: 100%;
	    padding-top: 29px;
   margin-bottom: -31px;
       min-width: 1170px;
	 background-size: cover;
}
.video .title-30{
	color: #fff !important;
	
}
.video .view-all1{
	color: #fff !important;
	font-size: 14px !important;
	float: right;
    margin-top: 15px;
    font-family: 'Montserrat';
}
.video a{
	color: #fff;
}
.list-video{
	margin-top: 31px;
}
.list-video li:nth-child(1){
	width: 654px;
	margin-right: 27px;
}
.list-video li:nth-child(1) img{
	width: 654px;
}
.list-video li{
	position: relative;
}
.list-video li:nth-child(1) .icon-play{
	position: absolute;
	height: 69px;
	width: 69px;
	top: 41%;
    left: 45%;
	background: url(../images/play.png);
}
.list-video li:nth-child(1) .name-pro{
	font-size: 20px !important;
	font-family: 'Montserrat Bold' !important;
}
.icon-play{
	position: absolute;
	height: 46px;
	width: 46px;
	top: 24%;
    left: 13%;
	background: url(../images/play2.png);
}
.list-video li:nth-child(1) .info-car{
	position: absolute;
    width: 100%;
        bottom: 19px;
    font-size: 20px;
}
.list-video li:nth-child(1) .date-creat, .list-video li:nth-child(1) .date-creat i{
color: #fff;
	
}

.list-video li{
	float: left;
	width: 457px;
	margin-bottom: 30px;
	margin-right: 0px;
}

.list-video li img{
	width: 165px;
	float: left;
}
.list-video li .info-car{
	width: 272px;
    float: left;
	display: inherit;
    margin-left: 20px;
	margin-top: -16px;
}
.list-video li .info-car .name-pro{
	font-size: 16px;
	font-family: 'Montserrat SemiBold';
}
/***********footer******/
.nav{
	height: 130px;
	background: url(../images/bg-menu1.png) center;
	color: #fff;
	float: left;
	width: 100%;
	background-size: cover;
	    min-width: 1170px;
}
footer{
	height: 283px;
	background: url(../images/bg-footer.png) center no-repeat;
	color: #fff;
	float: left;
	width: 100%;
	background-size: cover;
	    min-width: 1170px;
}
.footer-left, .footer-right{
	float: left;
	width: 530px;
	margin-top: 30px;
}
.footer-right{
	padding-left: 122px;
    width: 488px;
    margin-top: 58px;
}
.title-26{
	font-size: 26px;
	text-transform: uppercase;
	opacity: 0.7;
	color: #fff;
}
.list-logo{
	float: left;
	    margin-top: 35px;
}
.list-logo li{
	float: left;
	width: auto;
	margin-right: 28px;
    margin-bottom: 14px;
	
}
.list-logo li.last{
	margin-right:0;
}

.menu-footer li{
	float: left;
	width: auto;
	margin-right: 6px;
	color: #fff;
	}
	
.list-logo li:nth-child(8) {margin-top: 4px;}
.list-logo li:nth-child(7)   
{  margin-top: -10px;
    margin-left: 10px;}
.list-logo li:nth-child(6) {margin-top: 9px;}	
	
.menu-footer li a{
	color: #fff;
}

.sp-18{
	font-size: 18px;
	font-family:'Montserrat Bold';
}

.footer-right .form-control{
	background: #c91e32;
    width: 342px;
    border-radius: 4px;
	margin-right: 7px;
}


.footer-right .sp-18{
	margin-top: 44px;
    float: left;
    margin-bottom: 24px;
}

.footer-right .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 font-family: 'Montserrat Italic';
 color: #fff;
 opacity:0.6;
}
.footer-right .form-control::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Montserrat Italic';
  color: #fff;
}
.footer-right .form-control:-ms-input-placeholder { /* IE 10+ */
 font-family: 'Montserrat Italic';
 color: #fff;
}
.footer-right .form-control:-moz-placeholder { /* Firefox 18- */
font-family: 'Montserrat Italic';
color: #fff;
}

.btn-subscribe{
	width: 113px;
	background: #151320;
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-family: 'Montserrat SemiBold';
}

/*****menu-fb***********/
.detail-news{
	margin-top: 48px;
	color: #222222;
	border-bottom: 1px solid #c5c5c5;
	margin-bottom: 65px;
	float: left;
    width: 100%;
	padding-bottom: 32px;
}
.detail-news .fsize-17{
	margin-bottom: 8px;
}
.title-30.mg-top-54{
	margin-bottom: 17px;
	color: #002856;
}
.menu-fb{
	width: 68px;
	margin-right: 30px;
	float: left;
	
}
.menu-fb li{
	float: left;
	display: inline-block;
	margin-bottom: 10px;
}

.new-detail{
	width: 750px;
	float: left;
	margin-top: -5px;
}
.new-detail p{
	margin-bottom: 22px;
	line-height: 24px;
	
}
.new-detail img{
	margin: 14px 0px 18px;
}
.Reviews a{
	color: #2070d2;
}
.Reviews i{
	color: #a6a6a6;
}
.f-italic{
	color: #777777;
	font-family: 'Montserrat Italic';
	text-align: center;
}
.list-gallery li{
float: left;
    width: 172px;
    height: 96px;
    margin-right: 20px;
    margin-bottom: 24px;

}

.list-gallery li:nth-child(4n+4) {
	margin-right:0;
	
}
/********list-news-detail*********/
.list-news-d2 li{
	width: 262px;
	float: left;
	margin-right: 30px;
	margin-bottom: 38px;
}
.list-news-d2 li:nth-child(3n+3) {
	margin-right:0;
	
}
.list-news-d2 li h3{
	    margin-top: 9px;
    line-height: 24px;
}
.list-news-d2 li .name-pro{
	color: #191919; font-size: 16px;
}
.list-news-d2 li .icon-clock{
	margin-left: -2px;
}

.gallery{
	margin-top: 42px;
}
.list-gallery{
	margin-top: 13px;
	    margin-bottom: 14px;
}
.qc{
	margin-top: 22px;
    margin-bottom: 80px;
}

/*********************/
.title-menu{
	width: 100%;
	float: left;
}
.title-30-22{
	font-size: 30px;
	text-transform: uppercase;
	color: #ef233c;
	width: 200px;
	float: left;
	
}
.menu-search2{
	float: right;
	    margin-top: 38px;
}
.menu-search2 li{
	float: left;
	margin: 0px 10px 0px 9px;
	color: #222222;
	
}
.menu-search2 li:last-child{
	margin-right:0;
}
.menu-search2 li a{
	color: #222222;
	font-size: 14px;
}
.menu-search2 li a:hover, .menu-search2 li a:active, .menu-search2 li.active a{
	color: #2070d2;
}

.list-news-2.display-ib{
	    margin-bottom: 14px;
}
.images .int{
	background: url(../images/bg-05.png);
    position: absolute;
    width: 91px;
    height: 40px;
    top: 161px;
    right: 0;
    text-align: center;
    color: #fff;
    line-height: 40px;
	font-size: 14px;
}
.images li{
	position: relative;
}
.images li .icon-file-image{
	margin-left: 15px;
}

/* ------------------------ pagination ------------------------ */
.paging{
	margin-bottom: 100px;
    margin-top: 14px;
}
.paging li {
	float: left;
	    margin-right: 32px;
	position: relative;
	font-family:'Montserrat Medium';
	text-transform: uppercase;
}

.last-page i{
	right:0;
}
.prev-page i{
	left:0;
}
.paging i{   color: #222222;
    position: absolute;
    margin-top: 12px;
    font-size: 16px;
    float: left;
    text-align: center;
    margin-left: -10px;
}
.paging i:hover{
	 color: #fff;
}
.paging li.first{
	margin-top: 0px;
	float: left !important;
	text-align: center;
}
.paging li.last{
	margin-top: 0px;
	float: right !important;
	text-align: center;
}
.paging li a {
	float: left;
	  height: 42px;
    width: 42px;
    line-height: 42px;
	text-align: center;
	color: #222222;
	font-size: 16px;
	border-radius: 3px;
}
.paging li:hover{
	color: #fff;
}
.paging li:hover a, .paging li.active a {
	background: #ef233c;
    color: #fff;
    height: 42px;
    width: 42px;
    line-height: 42px;
    border-radius: 3px;
}
.paging li:hover{
	background: #ef233c;
	color: #fff;
	 height: 42px;
    width: 42px;
    line-height: 42px;
	border-radius: 3px;
}
.paging.paging-center {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.paging.paging-center {
	text-align: center;
}
.paging.paging-center li, .paging.paging-center li a {
	display: inline-block;
	float: none;
}


/***videos*****/
.videos li:first-child{
	width: 100%;
	display: inline-block;
}
.videos li:first-child .info-car{
	float: left;
    width: 359px;
    margin-left: 30px;
	    margin-top: -3px;
	    margin-bottom: 60px;
}
.videos li:first-child .info-car .name-pro{
	font-size: 24px;
	line-height: 34px;
	color: #002856;
	margin-top: -15px;
    float: left;
	margin-bottom: 13px;
}
.videos li:first-child img{
	float: left;
	width: 751px;
}
.videos li{
	float: left;
	width: 360px;
	position: relative;
	    margin-bottom: 40px;
}
.videos li .icon-play{
	top: 26%;
    left: 44%;
}
.videos li:first-child .short-info{
	line-height: 24px;
}

/*************/

.list-thum li{
	float: left;
	width: 186px;
	margin-right: 10px;
}
.ul-slide .big-slide{
	width: 974px;
	margin-right:0px;
}
.list-thum li.last{
	margin-right:0px;
}
 .bg-slide{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    z-index: 99;
	    margin-top: 204px;
    padding-top: 122px;
	min-height: 2105px;
 }

.bg-slide .ul-slide{
	text-align: center;
	margin: auto;
	width: 974px;
	
}
.bg-slide .container{
	position: relative;
}
.slide-pre{
	font-size: 50px;
    color: #fff;
    position: absolute;
    left: 7px;
    top: 34%;
}

.slide-next{
	font-size: 50px;
    color: #fff;
    position: absolute;
    right: 7px;
    top: 34%;
}

.h3-slide{
	font-size: 18px;
	font-family: 'Montserrat';
	color: #fff;
	text-align: left;
	font-weight: 400;
	    margin-top: 25px;
    margin-bottom: 72px;
}

.list-thum{
	position: relative;
}
.s-pre, .s-next{
	position: absolute;
	width: 44px;
	height: 104px;
	    z-index: 999;
}
.s-pre{
	left:0;
}
.s-next{
	right:0;
}

/*********************************************/
.detail-pri{
	display: inline-block;
	width: 100%;
	margin-top: 17px;
	margin-bottom: 113px;
}
.detail-pri p{
	color: #444;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 25px;
}

.left-team{
	float: left;
	width: 165px;
	margin-right: 40px;
}
.right-team{
	float: left;
	width: calc(100% - 205px);
	
}
.left-team img{
	width: 165px;
	height: 165px;
	border-radius: 50%;
}
.right-team .f-rb, .right-team .cv{
	display: inline-block;
	width: 100%;
	
}
.right-team .cv{
	color: #777777;
	 margin-bottom: 13px;
}

.right-team .f-rb{
	font-size: 16px;
	    font-size: 16px;
    margin-top: 7px;
	margin-bottom: 4px;
}

.title-20{
	font-size: 20px;
	text-transform: uppercase;
	 margin-top: 38px;
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;

}
.list-u{
    width: 100%;
    float: left;
    margin-top: 35px;
}
.list-u li{
	margin-bottom: 13px;
	width: 100%;
	float: left;
}
.img-1{
	    margin-top: 5px;
   margin-bottom: 8px;
	
}
.left-ct{
	width: 555px;
	float: left;
	    margin-top: 10px;
}
.left-ct .control{
	margin-bottom: 23px;
}
.left-ct .form-control{
	border: 1px solid #d7d7d7;
	height: 40px;
	line-height: 40px;
	width: 555px;
	
}
.left-ct label{
	width: 100%;
	display: inline-block;
	color: #444444;
	margin-bottom: 11px;
}
.btn-194{
	width: 194px;
	cursor: pointer;
	background: #ef233c;
	font-size: 14px;
	font-family: 'Montserrat SemiBold';
	color: #fff;
	border: none;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	    margin-top: 8px;
}

.left-ct textarea{
	width: 555px;
	padding: 10px;
	height: 209px;
}

.right-ct{
	float: left;
	width: 521px;
	margin-left: 64px;
	  margin-top: 10px;
	  font-size: 14px;
}
.Blog{
	width: 100%;
	float: left;
	text-transform: uppercase;
	color: #444444;
	    margin-top: 11px;
    margin-bottom: 12px;
}
.location i{
	color: #ef233c;
	font-size: 14px;
}

.icon-location{
	margin-left: -2px;
	
}
.location{
    margin-bottom: 11px;
    display: inline-block;
	    margin-left: -3px;
}














