{% extends 'base.html.twig' %}

{% block content %}
    <section class="list-new2 pd-top-25 pd-bottom-28">
        <h1 class="title-18 full-width main float-none">Privacy Policy</h1>
        <div class="main">
            <div class="detail-pri">
                {{ sourcePages['content'] | raw }}
            </div>
        </div>
    </section>
{% endblock %}